@font-face {
  font-family: "Manrope";
  src: url("./fonts/manrope/Manrope-Medium.otf");
  font-weight: normal;
}

/* Hover buttons only on > 768px */
@media (min-width: 768px) {
  .hoverBtn {
    visibility: hidden;
  }
  .hoverBlock:hover .hoverBtn {
    visibility: visible;
  }
}
