$red: #b0463f;
$dark: #323537;
$light: #f0f0ef;
$white: $light;

$primary: $red;

$font-family-base: "Manrope";
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 940px,
  xl: 950px,
  xxl: 960px,
);
$modal-header-padding-y: 0.8em;
$modal-footer-border-color: $light;

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
